<div class="card">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
        <img
          class="img-fluid"
          src="../../assets/images/pagina-header-image-04.jpg"
        />
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">
            <h4><span class="badge badge-info">Trac for Hospitals</span></h4>
          </div>
          <div class="card-body" style="background-color: beige;">
            <div class="row">
              <div class="col-sm-2">
                <h5>
                  <span class="badge badge-pill badge-secondary"
                    >Motivation:</span
                  >
                </h5>
              </div>

              <div class="col-sm-10" *ngIf="ShowPage(1)">
                <div class="row">
                  <div class="col-sm-12">
                    This program is a data-entry application which was first
                    developed in the 1980's in The
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    Netherlands. TRAC went through many incarnations and is now
                    a web application. The
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    motivation for development of TRAC was (and still is) to
                    streamline the administrative
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    side of cardiac surgery. As a surgeon doing essentially the
                    same operation over and
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    over again we did not like to dictate similar operative
                    reports everyday. And we
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    thought that enlisting the help of the rest of the operative
                    team would be a clever
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    solution to our "problem". The objective was to have the
                    operative report ready before
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    the patient even left the operative theatre and with minimal
                    involvement of the
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    surgeon. We would tell the nurse which distal anastomosis we
                    were doing and she
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">would put that information in the program. Before the skin was closed the report was</div>
                </div>
                <div class="row">
                  <div class="col-sm-12">generated by the program and printed in the operative theatre. After the succesful</div>
                </div>
                <div class="row">
                  <div class="col-sm-12">conclusion of our first mission with the operative reports we extended TRAC to include </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">the discharge summary, another boring excercise for us. Now TRAC also generates a</div>
                </div>
                <div class="row">
                  <div class="col-sm-12">discharge summary at the end of the admission of the patient.</div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><a class="badge badge-info" (click)="displayPage(2)">Next page -></a></div>
                </div>


              </div>
              <div class="col-sm-10" *ngIf="ShowPage(2)">
                <div class="row">
                  <div class="col-sm-12">
                    Round about 2002 we decided to include measurement of surgical outcomes in TRAC.
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    We realized that we were collecting valuable data with TRAC and we liked to do
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    something serious with it. In order to reach this goal we changed the underlying
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    database from our homegrown "minimal dataset" to the dataset required for the
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    European Cardiac Surgery Registry. Now we were able to calculate our surgical
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    outcomes, because we used the EuroScore for pre-operative risk assesment and the
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    database for the actual surgical outcome. We used the Variable Life Adjusted Display
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    method (VLAD's) to graphically display our outcomes, both for individual surgeons and
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    for the institution as a whole.
                  </div>
                </div>
              


                <div class="row">
                  <div class="col-sm-12"><a class="badge badge-info" (click)="displayPage(1)">Previous page <-</a></div>
                </div>

              </div>


             <!--  <div class="col-sm-10" *ngIf="ShowPage(3)">
                <div class="row">
                  <div class="col-sm-12">
                    Round about 2002 we decided to include measurement of
                    surgical outcomes in TRAC.
                  </div>
                </div>

              </div>
              <div class="col-sm-10" *ngIf="ShowPage(4)">
                <div class="row">
                  <div class="col-sm-12">page 4</div>
                </div>

              </div> -->


            </div>

            <div class="row">
              <div class="col-sm-2">
                <h5>
                  <span class="badge badge-pill badge-secondary"
                    >Powerpoint:</span
                  >
                </h5>
              </div>
              <div class="col-sm-10"></div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <h5>
                  <span class="badge badge-pill badge-secondary"
                    >Tutorials:</span
                  >
                </h5>
              </div>
              <div class="col-sm-10"></div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <h5>
                  <span class="badge badge-pill badge-secondary">Demo:</span>
                </h5>
              </div>
              <div class="col-sm-10">
                <h5><span class="badge badge-info btn-xxs">http://77.173.53.32:8088</span></h5>
                <h6><span class="badge badge-pill badge-info btn-xxs">Username: demo</span></h6>
                <h6><span class="badge badge-pill badge-info btn-xxs">Password: password</span></h6>
              </div>
            </div>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p>
      &copy; 2020 - CardiacSoftwareDevelopers(<a (click)="linkToCSD()">CSD</a>)
    </p>
  </div>
</div>
