<div class="card">
  <div class="card-header">
    <img class="img-fluid" src="../../assets/images/pagina-header-image-01.jpg" >
  </div>
  <div class="card-body">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><h4><span class="badge badge-secondary">Cardiacsurgery Software Developers</span></h4></div>
      <div class="card-body" style="background-color: beige;">
        <div class="row">
          <div class="col-sm-4"><h5><span class="badge badge-info">Deurningerstraat 118</span></h5></div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row">
          <div class="col-sm-4"><h5><span class="badge badge-info">Enschede</span></h5></div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row">
          <div class="col-sm-4"><h5><span class="badge badge-info">The Netherlands</span></h5></div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
        </div>

      </div>
      <div class="card-footer"></div>
    </div>
  </div>
  <div class="col-sm-6">
     <form #editForm="ngForm" (ngSubmit)="sendMessage()" id="editForm">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-8"><h4><span class="badge badge-secondary">Contact Us</span></h4></div>
          <div class="col-sm-4">
            <button
            [disabled]="!editForm.dirty"
            class="btn btn-success btn-block"
            form="editForm"
            type="submit"
            class="btn btn-primary"
            style="float:right">Submit</button></div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12"><h4><span class="badge badge-default">Subject</span></h4></div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <select class="form-control" id="sel1" [(ngModel)]="f.subject" name="subject">
              <option *ngFor="let item of subjectList">{{item.description}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12"><h4><span class="badge badge-default">Message</span></h4></div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <textarea class="form-control" rows="5"
            [(ngModel)]="f.body"
            id="comment" name="message">
          </textarea></div>
        </div>
        <div class="row">
          <div class="col-sm-12"><h5><span class="badge badge-warning">Please mention your email or phone</span></h5></div>
        </div>
      </div>
    </div>
    </form> 
  </div>
</div>

  </div>
  <div class="card-footer">

  </div>
</div>

