<div class="card">
  <div class="card-header">
    <img class="img-fluid" src="../../assets/images/pagina-header-image-01.jpg" >
  </div>
  <div class="card-body">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><h4><span class="badge badge-secondary">Cardiacsurgery Software Developers</span></h4></div>
      <div class="card-body" style="background-color: beige;">
        
        <div class="row">
          <div class="col-sm-4"><h5><span class="badge badge-info">Almere-Haven</span></h5></div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row">
          <div class="col-sm-4"><h5><span class="badge badge-info">The Netherlands</span></h5></div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row">
          <div class="col-sm-4"><h5><span class="badge badge-info">email: marcelharder@protonmail.com</span></h5></div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
        </div>

      </div>
      <div class="card-footer"></div>
    </div>
  </div>
  
</div>

  </div>
  <div class="card-footer">

  </div>
</div>

