<div class="card">
  <div class="card-header">
    <img class="img-fluid" src="../../assets/images/pagina-header-image-01.jpg" >
  </div>
  <div class="card-body">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><h4><span class="badge badge-secondary">Cardiacsurgery Software Developers</span></h4></div>
      <div class="card-body" style="background-color: beige;">
        <div class="row">
          <div class="col-sm-4"><h5><span class="badge badge-info">Wittelaan 9</span></h5></div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row">
          <div class="col-sm-4"><h5><span class="badge badge-info">3743 CP</span></h5></div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row">
          <div class="col-sm-4"><h5><span class="badge badge-info">Baarn The Netherlands</span></h5></div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row">
          <div class="col-sm-4"><h5><span class="badge badge-info">Tel: +31 630167973</span></h5></div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row">
          <div class="col-sm-4"><h5><span class="badge badge-info">Mail: marcelharder@protonmail.com</span></h5></div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
        </div>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
  <div class="col-sm-6"></div>
</div>

  </div>
  <div class="card-footer">
    <p>&copy; 2020 - CardiacSoftwareDevelopers(<a (click)="linkToCSD()">CSD</a>)</p>
  </div>
</div>

