<div class="card">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
        <img
          class="img-fluid"
          src="../../assets/images/pagina-header-image-07.jpg"
        />
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header"><h4><span class="badge badge-info">Echo Report Application</span></h4></div>
          <div class="card-body" style="background-color: beige;">
            <div class="row">
              <div class="col-sm-2"><h5><span class="badge badge-pill badge-secondary">Motivation:</span></h5></div>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-12"></div>
                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-sm-2"><h5><span class="badge badge-pill badge-secondary">Powerpoint:</span></h5></div>
              <div class="col-sm-10">
                <h5><span class="badge badge-info btn-xxs"></span></h5>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2"><h5><span class="badge badge-pill badge-secondary">Tutorials:</span></h5></div>
              <div class="col-sm-10"></div>
            </div>
            <div class="row">
              <div class="col-sm-2"><h5><span class="badge badge-pill badge-secondary">Demo:</span></h5></div>
              <div class="col-sm-10">
                <h5><span class="badge badge-info btn-xxs">http://77.173.53.32:8086</span></h5>
                <h6><span class="badge badge-pill badge-info btn-xxs">Username: demo</span></h6>
                <h6><span class="badge badge-pill badge-info btn-xxs">Password: password</span></h6>
              </div>
            </div> -->
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
  
  </div>
</div>
