<div class="card ml-5">
    <div class="card-header"></div>
    <div class="card-body" style="background-color: beige;">
    <div class="row">
        <div class="col-sm-8">
            <h5><span>The cassette id is the unique identifier that we use in this application.</span></h5>
            <h4><span style="font-style: italic;">It can be found there: -></span></h4>
        </div>
        <div class="col-sm-4">
            <img src="../../assets/images/IMG_0862.JPG" />
          </div>
    </div>
    </div>
    <div class="card-footer">
        <button class="button button-primary float-left" (click)="close()">Close</button>
    </div>
</div>
