<div class="card">
  <div class="card-header">
    <img class="img-fluid" src="../../assets/images/pagina-header-image-01.jpg" >
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header"><h4><span class="badge badge-secondary">Mission and Vision</span></h4></div>
          <div class="card-body" style="background-color: beige;">
            <div class="row">
              <div class="col-sm-12"><h5><span class="badge badge-default">Cardiac Software Developers is a small company
                that develops highly specialized medical software.</span></h5></div>
            </div>
            <div class="row">
              <div class="col-sm-12"><h5><span class="badge badge-default">
                We have a strong background in medical (Cardiac Surgical) practice and we enjoy making software
               </span></h5></div>
            </div>
            <div class="row">
              <div class="col-sm-12"><h5><span class="badge badge-default">
                that helps clinicians instead of just obstructing time tested and battle proven traditions.
               </span></h5></div>
            </div>
            <div class="row">
              <div class="col-sm-12"><h5><span class="badge badge-default">
                Join us in the struggle to get the software we deserve ...</span></h5></div>
            </div>
            <div class="row">
              <div class="col-sm-12"><h5><span class="badge badge-default">
                Please email us on marcelharder@protonmail.com</span></h5></div>
            </div>


          </div>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>

      </div>

  <div class="card-footer">
    <p>&copy; 2020 - CardiacSoftwareDevelopers(<a (click)="linkToCSD()">CSD</a>)</p>
  </div>
</div>
