<div class="card">
  <div class="card-header">
    <div class="card-header"><h2><span class="badge badge-default">About the CardioHelp registry</span></h2></div>
  </div>
  <div class="card-body">
    <p>The CardioHelp is an ECLS machine which can be used for a number different indications. </p>
    <p>The indication and outcomes are not well established, to help in evaluating the  </p>
    <p>usefulness of the Cardiohelp machine we need to gather and evaluate data.  </p>
    <p>This application was designed to do just that.   </p>
    <p>The features of this application are:   </p>
    <div style="background-color: beige;">
    <p>Application designed as a webapplication, which enables in cloud storage of data.</p>
    <p>No need for on-premises computer hardware.</p>
    <p>Machine centric design, no patient data are stored.</p>
    <p>Makes use of the hemodynamic data gathered by the Cardiohelp machine.</p>
    <p>Easy to understand user interface, that can be used without any training.</p>
  </div>
  </div>
</div>
