<div class="card">
  <div class="card-header">
    <img class="img-fluid" src="../../assets/images/pagina-header-image-01.jpg" >
  </div>
  <div class="card-body">
    <div style="background-color: beige;">
    <p>The CardioHelp is an ECLS machine which can be used for a number different indications.
    The indication and outcomes are not well established, to help in evaluating the  usefulness of the Cardiohelp machine we need to gather and evaluate data.
    This application was designed to do just that. The features of this application are:   </p>
  </div>
    <div style="background-color: beige;">
    <p>Application designed as a webapplication, which enables in cloud storage of data. No need for on-premises computer hardware.
      Machine centric design, no patient data are stored.Makes use of the hemodynamic data gathered by the Cardiohelp machine.
      Easy to understand user interface, that can be used without any training.</p>
  </div>
  </div>
  <div class="card-footer">
    <p>&copy; 2020 - CardiacSoftwareDevelopers(<a (click)="linkToCSD()">CSD</a>)</p>
  </div>
</div>
