<div class="card">
  <div class="card-header" *ngIf="showList()">
    <div class="row" *ngIf="!contentFound()">
      <div class="col-sm-6">
        <h5><span class="badge badge-success">No registries found ...</span></h5>
      </div>
      <div class="col-sm-6">
        <h5><button class="button button-secondary float-right" (click)="AddRegistry()">Add registry</button></h5>
      </div>
    </div>

    <div class="row" *ngIf="contentFound()">
      <div class="col-sm-6">
        <h5><span class="badge badge-success">CardioHelp registries found ...</span></h5>
      </div>
      <div class="col-sm-6">
         <div class="d-flex flex-row-reverse bd-highlight">
          <div class="p-2 bd-highlight"><h5><button class="btn btn-primary" *ngIf="!CassetteFound()" (click)="AddRegistry()">Add</button></h5></div>
          <div class="p-2 bd-highlight"><h5><button class="btn btn-warning" *ngIf="!CassetteFound()" (click)="CancelAdding()">Cancel</button></h5></div>
          <div class="p-2 bd-highlight"><h5><button class="btn btn-primary" *ngIf="CassetteFound()"(click)="FindCassette()">Find</button></h5></div>
          <div class="p-2 bd-highlight"><input type="text" [(ngModel)]="cassetteNo" *ngIf="CassetteFound()"name="cassette"/></div>
          <div class="p-2 bd-highlight"><h5><button class="btn btn-warning btn-xxs" *ngIf="CassetteFound()" (click)="ExplainCassette()">?</button></h5></div>
          <div class="p-2 bd-highlight"><h5><span class="badge badge-secondary" *ngIf="!CassetteFound()">Add this - {{cassetteNo}} - number</span></h5></div>
          <div class="p-2 bd-highlight"><h5><span class="badge badge-secondary" *ngIf="CassetteFound()">Search on cassette #</span></h5></div>
        </div>
      </div>
    </div>

  </div>
  <div class="card-body" *ngIf="contentFound()" >
<div *ngIf="showList()">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped">
          <tr>
            <th>Id</th>
            <th>Cassette</th>
            <th>Indication</th>
            <th></th>
          </tr>
          <tr *ngFor="let pro of help.result">
            <th>
              <h5><span class="badge badge-secondary">{{pro.id}}</span></h5>
            </th>
            <th>{{pro.cassette_id}}</th>
            <th>{{pro.indication}}</th>

            <td><a (click)="selectDetails(pro.id)" style="color:darkmagenta">Details</a></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <pagination [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage" 
        (pageChanged)="pageChanged($event)" 
        previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>
  <div *ngIf="showDetails()">
    <app-registryDetails [reg]=selectedRegistry></app-registryDetails>
  </div>
  <div *ngIf="showCassette()">
   <div class="card">
     <div class="card-header"><h4><span class="badge badge-secondary">Please enter the cassetteNo</span></h4></div>
     <div class="card-body">
       <div class="row">
         <div class="col-sm-2"><h5><span class="badge badge-secondary">CassetteNo</span></h5></div>
         <div class="col-sm-10"><input type="text" [(ngModel)]="cassetteNo" name="cass" class="form-model"></div>
       </div>
     </div>
     <div class="card-footer">
      <button class="btn btn-success float-left" (click)="AddRegistry()">Save</button>
     </div>
   </div>
  </div>

  <div class="card-footer" *ngIf="showDetails()">
    <button class="btn btn-success float-left" (click)="UpdateRegistry()">Save</button>
  </div>

</div>
