<div class="card">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
        <img
          class="img-fluid"
          src="../../assets/images/pagina-header-image-02.jpg"
        />
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body" style="background-color: beige;">
            <div class="row">
              <div class="col-sm-4"><h4><span class="badge badge-secondary"></span></h4></div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4"></div>
            </div>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p>
      &copy; 2020 - CardiacSoftwareDevelopers(<a (click)="linkToCSD()">CSD</a>)
    </p>
  </div>
</div>
