<div class="card">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
        <img
          class="img-fluid"
          src="../../assets/images/pagina-header-image-06.jpg"
        />
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header"><h4><span class="badge badge-info">Surgical Outcomes Application</span></h4></div>
          <div class="card-body" style="background-color: beige;">
            <div class="row">
              <div class="col-sm-2"><h5><span class="badge badge-pill badge-secondary">Motivation:</span></h5></div>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-12">This application is designed to measure the surgical outcomes for the individual cardiac surgeon. </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">The surgeon can monitor the outcomes in real time and these data are private. </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">Because this application is surgeon-centric the application has no dependencies on the</div>
                </div>
                <div class="row">
                  <div class="col-sm-12">hospital where the surgeon works. View it as a surgical logbook with advanced capabilities.</div>
                </div>
                <div class="row">
                  <div class="col-sm-12"></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2"><h5><span class="badge badge-pill badge-secondary">Powerpoint:</span></h5></div>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-12">
                    <a class="badge badge-info" (click)="showPresentatie(1)">Surgical Outcomes Application Presentation -></a>
                  </div>
                </div>

              </div>
            </div>
             <div class="row">
              <div class="col-sm-2"><h5><span class="badge badge-pill badge-secondary">Tutorials:</span></h5></div>
              <div class="col-sm-10"> <a class="badge badge-info" (click)="showVideo()">Videos -></a></div>
            </div> 
            <div class="row">
              <div class="col-sm-2"><h5><span class="badge badge-pill badge-secondary">Demo:</span></h5></div>
              <div class="col-sm-10">
                <a class="badge badge-info" (click)="showDemo(1)">Go to the web application -></a>
              </div>
            </div>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
   
  </div>
</div>
