<div class="card">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
        <img
          class="img-fluid"
          src="../../assets/images/pagina-header-image-02.jpg"
        />
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header"><h4><span class="badge badge-info">Surgical Waitinglist Application</span></h4></div>
          <div class="card-body" style="background-color: beige;">

            <div class="row">
              <div class="col-sm-2"><h5><span class="badge badge-pill badge-secondary">Motivation:</span></h5></div>
              <div class="col-sm-10">

                <div class="row">
                  <div class="col-sm-12">This application was developed to streamline a referral for cardiac surgery. All the information</div>
                </div>
                <div class="row">
                  <div class="col-sm-12">about the patient is presented to the surgeon. This information includes the angiogram, echo's and</div>
                </div>
                <div class="row">
                  <div class="col-sm-12">other additional investigations that are relevant to the referral.</div>
                </div>
                <div class="row">
                  <div class="col-sm-12">With all the information about a potential surgical case in one place, the surgeon can quickly estimate</div>
                </div>
                <div class="row">
                  <div class="col-sm-12">the surgical risk and envisioned benefit of the surgical procedure. </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">The main benefit of this application is the significant reduction of administrative tasks that </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">accompany a referral for cardiac surgery.</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2"><h5><span class="badge badge-pill badge-secondary">Powerpoint:</span></h5></div>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-12">
                    <a class="badge badge-info" (click)="showPresentatie(1)">Waitlist presentation -></a>

                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-sm-2"><h5><span class="badge badge-pill badge-secondary">Tutorials:</span></h5></div>
              <div class="col-sm-10"></div>
            </div> -->
            <div class="row">
              <div class="col-sm-2"><h5><span class="badge badge-pill badge-secondary">Demo:</span></h5></div>
              <div class="col-sm-10">
                <a class="badge badge-info" (click)="showDemo(1)">Go to the web application -></a>
              </div>
            </div>

          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p>
      &copy; 2020 - CardiacSoftwareDevelopers(<a (click)="linkToCSD()">CSD</a>)
    </p>
  </div>
</div>
